/* screen 4 */
.screen4-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animation-page-songs{
    background-color: #e788c2;
}

.screen4-title{
    color: rgb(241, 238, 85);
}
