.stiple-img{
    /* transition: all 0.1s ease-in-out; */
}

.stiple-img-intro{
    filter: invert(15%) sepia(43%) saturate(1420%) hue-rotate(193deg) brightness(95%) contrast(90%);
}

.stiple-img-genres{
    filter: invert(22%) sepia(21%) saturate(914%) hue-rotate(235deg) brightness(94%) contrast(92%);
}

.stiple-img-no-match{
    filter: invert(39%) sepia(60%) saturate(250%) hue-rotate(172deg) brightness(95%) contrast(91%);
}
