.stiple-img{
    /* transition: all 0.1s ease-in-out; */
}

.stiple-img-intro{
    filter: invert(15%) sepia(43%) saturate(1420%) hue-rotate(193deg) brightness(95%) contrast(90%);
}

.stiple-img-genres{
    filter: invert(22%) sepia(21%) saturate(914%) hue-rotate(235deg) brightness(94%) contrast(92%);
}

.stiple-img-no-match{
    filter: invert(36%) sepia(30%) saturate(527%) hue-rotate(172deg) brightness(94%) contrast(96%);
}

.stiple-img-artists{
    filter: invert(14%) sepia(14%) saturate(4314%) hue-rotate(252deg) brightness(94%) contrast(96%);
}

.stiple-img-percent
{
    filter: invert(14%) sepia(14%) saturate(4314%) hue-rotate(252deg) brightness(94%) contrast(96%);
}

.stiple-img-recommended
{
    filter: invert(13%) sepia(14%) saturate(2209%) hue-rotate(314deg) brightness(97%) contrast(79%);
}
