/* screen 1 */
.screen1-content{
max-width: 550px;
}

.animation-page-intro{
    background-color: #adefc4;
}

.screen1-text{
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
    text-transform: uppercase;
    color: white;
}

.img-container{
    margin-block: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper{
    width: 250px;
    height:250px;
    border-radius: 500px;
    overflow: hidden;

}

.left-img{
    transform: translateX(25px);
    z-index: 1;
}

.right-img{
    transform: translateX(-25px);
}

.profile-img{
    width: 100%;
}