/* screen 1 */
.screen1-content{
/* max-width: 600px; */
}

.animation-page-intro{
    background-color: #adefc4;
}

.screen1-text{
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
    text-transform: uppercase;
    color: white;
}

.top-fade-in{
    opacity: 0;
    animation: fade-in 0.5s ease-in-out  forwards ;
    animation-delay: 1s;
}

.bottom-fade-in{
    opacity: 0;
    animation: fade-in 0.5s ease-in-out  forwards ;
    animation-delay: 2s;
}