/* screen 5 */
.screen5-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animation-page-precent{
    background-color: #96efb7;
}

.screen5-title{
    color: rgb(255, 255, 255);
    font-size: 75px;
}

.precent-wrapper{
    height: 300px;
    transform: translateY(-40px);
    position: relative;
}

.percent{
    font-size: 250px;
    font-weight: 800;
    color: white;
    height: fit-content;
}

.small-percent{
    font-size: 150px;
}

.burst{
    position: absolute;
    top: -50px;
    opacity: 0.15;
    animation: rotate 50s linear infinite ;
    pointer-events: none;
  }

  @keyframes rotate {
    0%   {
        transform: scale(3) rotate(0deg);
    }
    100% {
        transform: scale(3) rotate(360deg);
    }
  }

@media screen and (min-width: 400px){
    .buttons{
        margin-top: 20px;
    }
    
}