.homepage{
    background-color: #e23838;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.homepage-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
}

.homepage-heading{
    font-size: 100px;
    color: white;
    height: 125px;
}


.homepage-subtext{
    font-size: 20px;
    color: white;
}

.button{
    width: 180px;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    color: #e23838;
    background-color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: all ease-in-out 0.2s;
}

.button:hover{
    background-color: white;
    transform: scale(1.05);
}

.stiple{
    position: absolute;
    pointer-events: none;
    
}

img{
    width: 100%;
}

.waves{
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
    height: 100%;
}

.stiple1{
    left: 0px;
    bottom: -300px;
    width: 850px;
    transform: rotate(-15deg);
}

.stiple2{
    left: -100px;
    top: -100px;
    width: 600px;
    transform: rotate(25deg);
}

.stiple3{
    right: -0px;
    top: -100px;
    width: 600px;
    transform: rotate(-40deg);
}

.stiple4{
    right: 100px;
    bottom: -200px;
    width: 600px;
}

.star{
    width: 125px;
}

.star1{
    right: 380px;
    top: 80px;
}

.star2{
    left: 200px;
    bottom: 150px;
}