/* screen 3 */
.screen3-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animation-page-artists{
    background-color: #ffd2e2;
}

.screen3-title{
    color: aquamarine;
}

.artist-name{
    color: white;
}

.artist-covers{
    display: flex;
    height: 280px;
    width: 672px;
    
}
.overlap-img-wrapper{
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: absolute;
}

.overlap-img-wrapper-1{
    z-index: 5;
}

.overlap-img-wrapper-2{
    z-index: 4;
    transform: translateX(140px) scale(90%);
}

.overlap-img-wrapper-3{
    z-index: 3;
    transform: translateX(265px) scale(80%);
}

.overlap-img-wrapper-4{
    z-index: 2;
    transform: translateX(375px) scale(70%);
}

.overlap-img-wrapper-5{
    z-index: 1;
    transform: translateX(470px) scale(60%);
}
